@charset "utf-8";

/* -----------------------------------
  reset setting
--------------------------------------*/

* {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
}

body {
  color: #555;
  letter-spacing: 0.05em;
  background-color: var(--color2);
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

:root {
  --color1: #dd6738;
  --color2: #ffffff;
}

/* -----------------------------------
  container setting
--------------------------------------*/

.container {
  max-width: 960px;
  margin: 0 auto;
  background-color: var(--color2);
}

/* -----------------------------------
  main setting
--------------------------------------*/

.main {
  padding: 0 20px;
}

/* -----------------------------------
  connect setting
--------------------------------------*/

/* ---- header ---- */

.header_connect h1 {
  text-align: center;
  padding: 50px 0;
}

/* ---- list ---- */

.main .connect_img {
  text-align: center;
  margin-bottom: 50px;
}

.main .connect_list dl {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 20px;
  margin-bottom: 50px;
}

.main .connect_list dt {
  width: 40%;
}

.main .connect_list dd {
  width: 60%;
  margin-bottom: 20px;
}

/* ---- btn ---- */

.btn .connect_link {
  text-align: center;
  margin-bottom: 50px;
}

.btn a {
  display: inline-block;
  font-size: 30px;
  padding: 12px 30px 16px;
  background-color: var(--color1);
  color: #fff;
  border: 2px solid var(--color1);
  &:hover{
    background-color: #fff;
    color: #555;
  }
}

/* ---- comment ---- */

.comment {
  margin-bottom: 50px;
}

.comment h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

.comment h3 {
  margin-bottom: 10px;
  font-size: 20px;
  padding-left: 60px
}

.comment .txt {
  margin-bottom: 30px;
  font-size: 16px;
  padding-left: 80px;
  line-height: 1.5;
}

/* ---- close btn ---- */

.close_btn {
  text-align: center;
}

.close a {
  display: inline-block;
  padding: 10px 30px 12px;
  margin-bottom: 80px;
  background-color: var(--color1);
  color: #fff;
  border: 2px solid var(--color1);
  &:hover{
    background-color: #fff;
    color: #555;
  }
}

/* -----------------------------------
  footer setting
--------------------------------------*/

.footer {
  padding: 30px 0 50px;
  text-align: center;
  background-color: var(--color1);
  color: #fff;
}

/* -----------------------------------
  responsive setting
--------------------------------------*/

@media (max-width:768px) {

  /* ---- header ---- */

  .header_connect h1 {
    font-size: 26px;
  }

  /* ---- list ---- */

  .main .connect_list dl {
    display: block;
  }
  .main .connect_list dt {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .main .connect_list dd {
    width: 100%;
    border-bottom: 2px dotted var(--color1);
    padding-bottom: 20px;
    margin-bottom: 20px;
   
  }

  .main .connect_list dt:first-child{
     border-top: 2px dotted var(--color1);
     padding-top: 20px;
  }

  /* ---- comment ---- */

  .comment {
    margin-bottom: 50px;
  }

  .comment h2 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
  }

  .comment h3 {
    padding-left: 0;
    font-size: 20px;
  }

  .comment .txt {
    padding-left: 20px;
  }


}

/* query end */